- content_for :title, 'コラム一覧'

%section.hero-section{ style: @site_setting.hero_background_image.present? ? "background-image: url(#{url_for(@site_setting.hero_background_image)}); background-size: cover; background-position: center 40%; background-repeat: no-repeat;" : '' }
  .hero-overlay
  .container
    .hero-content
      %h1.hero-title コラム一覧
      %p.hero-description 最新のコラム記事をご覧いただけます

- if @current_category || @current_tag
  %section.filter-status-section
    .container
      .filter-status
        - if @current_category
          %span.filter-item
            %strong カテゴリー：
            = @current_category
            = link_to '×', site_articles_path, class: 'filter-remove'
        - if @current_tag
          %span.filter-item
            %strong タグ：
            = @current_tag
            = link_to '×', site_articles_path, class: 'filter-remove'

- if @articles.any?
  %section.articles-list-section
    .container
      .content-with-sidebar
        .main-content
          .articles-grid
            - @articles.each do |article|
              = link_to safe_article_path(article), class: 'article-card-link' do
                .article-card
                  - if article_featured_image_url(article)
                    .article-image
                      = article_featured_image_tag(article, class: 'article-list-image')
                  .article-content
                    %h3.article-title= article.title
                    %p.article-excerpt
                      - if article.content_json.is_a?(String)
                        = truncate(strip_tags(article.content_json), length: 120)
                      - elsif article.content_json.is_a?(Hash)
                        = truncate(strip_tags(article.content_json.dig('content')), length: 120)
                      - else
                        = truncate(article.meta_description.presence || '', length: 120)
                    .article-meta
                      %time.article-date= article.published_at&.strftime('%Y年%m月%d日')
                      - if article.custom_fields && article.custom_fields['category'].present?
                        %span.article-category= article.custom_fields['category']
        
        .sidebar
          = render 'shared/sidebar'

- else  
  %section.no-articles-section
    .container
      %h2.section-title コラム記事はまだありません
      %p 管理画面から記事を作成し、公開してください。
      .section-action
        = link_to 'ホームに戻る', root_path, class: 'btn btn-primary'