- content_for :title, @article.title

%article.article-detail
  .container
    .article-layout
      .main-content
        - if article_featured_image_url(@article)
          .article-featured-image-top
            = article_featured_image_tag(@article, class: 'featured-image top-featured-image')
        
        .article-header
          %h1.article-title= @article.title
          .article-meta
            %time.article-date= @article.published_at&.strftime('%Y年%m月%d日')
            %span.article-author= @article.user.first_name.present? ? "#{@article.user.first_name} #{@article.user.last_name}" : @article.user.email
            - if @article.custom_fields && @article.custom_fields['category'].present?
              %span.article-category-label カテゴリー：
              %span.article-category= @article.custom_fields['category']
            - if @article.custom_fields && @article.custom_fields['tags'].present?
              .article-tags
                - @article.custom_fields['tags'].split(',').each do |tag|
                  %span.tag= tag.strip

        .article-content
          - if @article.show_table_of_contents
            - toc_data = generate_table_of_contents(@article.content_json)
            - if toc_data
              = toc_data[:toc]
              .article-body
                = raw toc_data[:content]
            - else
              .article-body
                - if @article.content_json.is_a?(String)
                  = raw @article.content_json
                - elsif @article.content_json.is_a?(Hash)
                  = raw @article.content_json.dig('content')
                - else
                  %p= @article.meta_description
          - else
            .article-body
              - if @article.content_json.is_a?(String)
                = raw @article.content_json
              - elsif @article.content_json.is_a?(Hash)
                = raw @article.content_json.dig('content')
              - else
                %p= @article.meta_description

      .sidebar
        = render 'shared/sidebar'

  .article-navigation
    .container
      = link_to '記事一覧に戻る', root_path, class: 'btn btn-secondary'