!!!
%html{lang: 'ja'}
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    %title
      - if content_for?(:title)
        = yield(:title)
        \- 
      = @site_setting&.site_name || 'Design Lab CMS'
    
    = csrf_meta_tags
    = csp_meta_tag
    
    = stylesheet_link_tag 'application', 'data-turbo-track': 'reload'
    = javascript_importmap_tags
    
  %body.site-layout
    / DEBUG: site.html.haml layout loaded
    %header.site-header
      .container
        %nav.navbar
          = link_to root_path, class: 'navbar-brand' do
            = @site_setting&.site_name || 'Design Lab'
          
          .navbar-icons
            = link_to 'https://twitter.com', class: 'icon-link twitter', target: '_blank', rel: 'noopener' do
              %img{src: 'https://cdn-icons-png.flaticon.com/24/25/25694.png', alt: 'Twitter', class: 'icon-image'}
            = link_to 'https://facebook.com', class: 'icon-link facebook', target: '_blank', rel: 'noopener' do
              %img{src: 'https://cdn-icons-png.flaticon.com/24/124/124010.png', alt: 'Facebook', class: 'icon-image'}
            = link_to 'https://linkedin.com', class: 'icon-link linkedin', target: '_blank', rel: 'noopener' do
              %img{src: 'https://cdn-icons-png.flaticon.com/24/145/145807.png', alt: 'LinkedIn', class: 'icon-image'}
            = link_to 'https://github.com', class: 'icon-link github', target: '_blank', rel: 'noopener' do
              %img{src: 'https://cdn-icons-png.flaticon.com/24/25/25231.png', alt: 'GitHub', class: 'icon-image'}
    
    %nav.main-navigation
      .container
        %ul.main-nav-list
          %li.main-nav-item
            = link_to 'ホーム', root_path, class: 'main-nav-link'
          %li.main-nav-item
            = link_to '求人情報', site_jobs_path, class: 'main-nav-link'
          - if @navigation_pages.present?
            - @navigation_pages.limit(2).each do |page|
              %li.main-nav-item
                = link_to page.title, site_page_path(page), class: 'main-nav-link'
    
    %main.site-main
      = yield
    
    %footer.site-footer
      .container
        .footer-content
          %p &copy; 2025 #{@site_setting&.site_name || 'Design Lab CMS'}. All rights reserved.
          .footer-links
            = link_to '私たちについて', site_pages_path, class: 'footer-link'
            = link_to '管理画面', admin_root_path, class: 'footer-link'